* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
html {
  font-size: 62.5%;
}

// paleta de colores
$color1: #BF244B;
$color2: #370047;
$color3: #D600B4;
$color4: #D61500;
$color5: #CF3F0A;
$color6: #AC00E0;
$color7: #511D61;
$color8: #07945D;
$color9: #07472E;
$color10: #470421;
