.home-contact-section__text {
  justify-content: center;
  padding-right: 50px;
  p {
    max-width: 300px;
  }
}

.home-console-content__card {
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: repeat(2, 1fr);
  gap: 20px;
}

.home-social-media-content {
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: 1fr;
}

.home-main-cover-content {
  max-width: 1100px;
}
.home-console-content {
  max-width: 1584px;
  margin: 0 auto;
}

.home-main-videogames-content {
  max-width: 1260px;
}