.home-contact-section__text {
  justify-content: center;
  padding-right: 50px;
  p {
    max-width: 300px;
  }
}

.home-console-content__card {
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: repeat(2, 1fr);
  gap: 20px;
}